<link rel="stylesheet" href="stylesheets/comments.css">
<!-- 貼文縮圖 -->
<div class="show-form">
  <div class="img mx-auto mb-2" {{#if media.imageUrl}}
    style="background-image:url({{media.imageUrl}});background-size: 100%;"
    {{else}}style="background-image:url(/img/question.png);background-size: 60%,60%;background-repeat: no-repeat;"
    {{/if}}>
  </div>
</div>
<!-- 有認證且有留言，即可抽籤 -->
{{#if isAuthenticated}}
  {{#if comments}}
    <form action="/draw/action" method="post">
      <fieldset>
  {{else}}
    <form action="/draw/post" method="get">
      <fieldset disabled>
  {{/if}}
{{else}}
  <form action="/auth/facebook" method="get">
    <fieldset disabled>
{{/if}}
<!-- 設定條件 -->
<legend>設定抽獎條件</legend>
<div class="mb-3">
  <label for="repeat" class="form-label">重複留言個數</label>
  <input type="number" id="repeat" class="form-control" placeholder="1-20" name="repeat"
    value="{{#if repeat}}{{repeat}}{{else}}1{{/if}}" min="1" max="20" required>
</div>
<div class="mb-3">
  <label for="tag" class="form-label">標記人數</label>
  <input type="number" id="tag" class="form-control" placeholder="0-10" name="tag"
    value="{{#if tag}}{{tag}}{{else}}0{{/if}}" min="0" max="10" required>
</div>
<div class="mb-3">
  <label for="deadline" class="form-label">截止時間</label>
  <input type="date" id="deadline" class="form-control" placeholder="輸入截止時間" name="date"
    value="{{date}}" required>
</div>
<!-- 設定獎項 -->
<legend>設定獎項</legend>
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th class="col-7" scope="col">項目</th>
      <th class="col-3" scope="col">得獎人數</th>
    </tr>
  </thead>
  <tbody id="award">
    <tr>
      <th scope="row">1</th>
      <td><input type="text" class="item-name" name="itemName-1" required></td>
      <td><input type="number" class="item-num" min="1" max="5" name="itemNum-1" value="1" required>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" id="btn-add" class="btn btn-secondary d-inline-block"><span>+</span></button>
<button type="button" id="btn-delete"
  class="btn btn-secondary d-inline-block"><span>–</span></button>
</fieldset>
<!-- 按鈕切換 -->
{{#if isAuthenticated}}
  {{#if comments}}
    <button type="submit" class="btn-draw btn mt-4 mb-5 mx-auto"
      onclick="return confirm(`進入抽獎頁面`)">準備抽獎</button>
  {{else}}
    <button type="button" onclick="submit()" class="btn-post btn mt-4 mb-5 mx-auto">選擇貼文</button>
  {{/if}}
{{else}}
  <button type="button" onclick="submit()" class="btn-auth btn mt-4 mb-5 mx-auto">請先授權 <i
      class="fab fa-facebook-square"></i>
    facebook</button>
{{/if}}
</form>
<!-- 留言表 -->
<h5 class="count">共有 {{#if comments}}{{comments.length}}
  {{else}}0{{/if}} 則留言
</h5>
<table class=" table align-middle table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">名稱</th>
      <th scope="col">留言</th>
      <th scope="col">標記</th>
      <th scope="col">時間</th>
    </tr>
  </thead>
  <tbody>
    {{#each comments}}
      <tr>
        <th scope="row">{{increment @index}}</th>
        <td class="text-nowrap text-truncate" style="max-width:75px;" data-toggle="tooltip"
          data-placement="top" title="{{this.username}}">{{this.username}}</td>
        <td class="text-nowrap text-truncate" style="max-width:100px;" data-toggle="tooltip"
          data-placement="top" title="{{this.text}}">{{this.text}} </td>
        <td style="min-width:50px">{{this.tagCount}}</td>
        <td class="text-nowrap text-truncate" style="max-width:75px;" data-toggle="tooltip"
          data-placement="top" title="{{adjustDate this.timestamp}}">{{adjustDate this.timestamp}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<script src="/javascripts/comments.js"></script>