<link rel="stylesheet" href="/stylesheets/total-media.css">
<h1>選擇貼文</h1>
<div class="row mx-auto mt-2" style="max-width: 750px;">
  <form class="ig-form" onchange="submit()" method="get">
    <input type="hidden" name="igJson" value="{{toJson ig}}">
    <select name="igSelected" id="ig-select" class="shadow-sm">
      <option value="">請選擇IG帳號</option>
      {{#each ig}}
        <option value="{{this.instagram_business_account.id}}" {{#AESCompare
          this.instagram_business_account.id ../igSelected}}selected{{/AESCompare}}>
          {{this.instagram_business_account.name}}
        </option>
      {{/each}}
    </select>
    {{#unless ig}} <a
        href="https://www.facebook.com/business/help/898752960195806">請確認FB粉絲專頁是否已連結IG商業帳號</a>
    {{/unless}}
  </form>
  {{#each media}}
    <div class="col-12 mt-3">
      <form action="/draw" method="post" class="card shadow-sm" style="height:100px">
        <!-- input -->
        <input type="hidden" name="mediaJson" value="{{toJson this}}">
        <input type="hidden" name="mediaEncryptId" value="{{this.id}}">
        <button class="btn-img">
          <div class="img-container" {{#ifCond this.media_type 'VIDEO' }}
            style="background-image:url('{{../this.thumbnail_url}}')" {{/ifCond}} {{#ifCond
            this.media_type 'IMAGE' }} style="background-image:url('{{../this.media_url}}')"
            {{/ifCond}} {{#ifCond this.media_type 'CAROUSEL_ALBUM' }}
            style="background-image:url('{{../this.media_url}}')" {{/ifCond}}>
          </div>
          <div class="card-body">
            <div class="mb-1 card-title">
              <h5 class="title">{{adjustDate this.timestamp}}</h5>
              <div class=" icon-bar">
                <div class="icon">
                  <i class="fas fa-heart"></i><span> {{this.like_count}}</span>
                </div>
                <div class="icon">
                  <i class="fas fa-comment"></i><span> {{this.comments_count}}</span>
                </div>
              </div>
            </div>
            <p class="card-text text-truncate mt-4">{{this.caption}}</p>
          </div>
        </button>
      </form>
    </div>
  {{/each}}
</div>
{{#if paging}}
  <div class="mx-auto text-center mt-4 mb-4">
    {{#if paging.previous}}
      <a class="btn-page btn mr-4"
        href="/draw/post?before={{paging.cursors.before}}&igSelected={{igSelected}}&igJson={{toJson ig}}">上一頁</a>
    {{/if}}
    {{#if paging.next}}
      <a class="btn-page btn"
        href="/draw/post?after={{paging.cursors.after}}&igSelected={{igSelected}}&igJson={{toJson ig}}">下一頁</a>
    {{/if}}
  </div>
{{/if}}